.react-calendar-heatmap text {
    font-size: 6px;
    fill: #555;
  }
  
  .react-calendar-heatmap .color-empty {
    fill: #f0f0f0;
    transition: all 0.3s;
  }
  
  .react-calendar-heatmap .color-scale-1 {
    fill: #d0e7ff;
    transition: all 0.3s;
  }
  
  .react-calendar-heatmap .color-scale-2 {
    fill: #88c6ff;
    transition: all 0.3s;
  }
  
  .react-calendar-heatmap .color-scale-3 {
    fill: #4ba3ff;
    transition: all 0.3s;
  }
  
  .react-calendar-heatmap .color-scale-4 {
    fill: #1c7ed6;
    transition: all 0.3s;
  }
  
  .react-calendar-heatmap rect:hover {
    stroke: #1c7ed6;
    stroke-width: 2;
    transform: scale(1.3);
    transform-origin: center;
  }